REACT_APP_apiKey= "apiKey provided by firebase" 
REACT_APP_authDomain= 'authDomain provided by firebase'
REACT_APP_projectId= 'projectId provided by firebase'
REACT_APP_storageBucket= 'storageBucket provided by firebase'
REACT_APP_messagingSenderId= 'messagingSenderId provided by firebase'
REACT_APP_appId= 'appId provided by firebase'